<header>
  <figure>
    <a href="/"><img src="../assets/logo.svg" alt="logo Gallographic" /></a>
  </figure>
</header>
<aside>
  <app-scroll-top></app-scroll-top>
  <app-theme-button></app-theme-button>
</aside>
<main>
  <app-gallery></app-gallery>
</main>
<footer>
  <div class="footer-container">
    <div class="footer-column">
      <div class="footer-logo">
        <img src="../assets/logo.svg" alt="logo Gallographic" />
      </div>
      <div class="footer-social">
        <a
          href="https://www.linkedin.com/in/stefan-g-2329481b8/"
          target="blank"
          class="footer-social-linkedin"
          title="link to LinkedIn profile"
        >
          <i class="pi pi-linkedin"></i>
        </a>
        <a
          href="https://github.com/Semias"
          target="blank"
          class="footer-social-github"
          title="link to Github profile"
        >
          <i class="pi pi-github"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
