<button
  type="button"
  (click)="toggleTheme()"
  [class]="
    body.getAttribute('color-scheme') === 'light'
      ? 'light-theme-button'
      : 'dark-theme-button'
  "
  [attr.aria-label]="
    body.getAttribute('color-scheme') === 'light'
      ? 'Switch to dark theme'
      : 'Switch to light theme'
  "
  [title]="
    body.getAttribute('color-scheme') === 'light'
      ? 'Switch to dark theme'
      : 'Switch to light theme'
  "
>
  @if (body.getAttribute('color-scheme') == 'light') {
  <i class="pi pi-sun"></i>
  } @if (body.getAttribute('color-scheme') == 'dark') {
  <i class="pi pi-moon"></i>
  }
</button>
