:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 50%;
  transition: 0.2s;

  &:hover,
  &:focus {
    cursor: pointer;
    transform: scale(0.9);
  }

  button {
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--cibg3);
    box-shadow: var(--shadow1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
